* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    overflow-y: auto !important;
    width: 100vw;
}

.header {
    margin: 30px;
    display: -ms-flexbox;
    display: flex;
}

h1 {
    text-transform: uppercase;
    flex: 3;
}

.refresh-button {
    margin: auto;
    font-size: 14px;
    min-width: 80px;
    height: 32px;
    background-color: rgb(0, 120, 215);
    color: rgb(255, 255, 255) !important;
    outline: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: transparent !important;
    border-image: initial;
    text-decoration: none;
}

.refresh-button:hover:not(:disabled) {
    background-color: rgb(0, 90, 158);
    border-color: transparent !important;
}

.refresh-button:disabled {
    background-color: rgb(234, 234, 234);
    cursor: not-allowed;
}

.refresh-button .bowtie-navigate-refresh {
    padding-right: 8px;
}

table {
    width: 100%;
}

tr:nth-child(odd):not(.header-row) {
    background-color: #f4f4f4;
}

th {
    padding: 10px 10px 5px 10px;
    text-align: left;
    font-size: 14px;
    text-transform: uppercase;
    border-bottom: 3px solid #0078d7;
}

td {
    padding: 10px;
    height: 40px;
    font-size: 16px;
}

.merge-success {
    color: #107c10;
}

.merge-failed {
    color: #da0a00;
    font-weight: bold;
}

.pull-into {
    padding: 0 5px;
    font-size: 11px !important;
}

.comments {
    font-size: 14px;
}

.no-display {
    display: none !important;
}

.comment-count {
    padding-right: 5px;
}

.unresolved {
    color: #f8a800;
}

.comments-resolved {
    color: #107c10;
}

.comments-unresolved {
    color: #f8a800;
}

.comment-icon {
    padding-right: 5px;
}

.reviewer-container {
    display: inline-block;
    margin-right: 5px;
}

.row-image {
    height: 30px;
    border-radius: 50%;
    vertical-align: bottom;
}

.vote {
    margin-left: -9px;
    margin-top: 14px;
    background-color: white;
    line-height: normal !important;
    border-radius: 50%;
    width: 16px;
    height: 16px;
}

tr:nth-child(odd):not(.header-row) .vote {
    background-color: #f4f4f4;
}

.suggestions {
    color: #107c10;
}

.vote::before {
    margin-left: 1px;
}

.no-results-container {
    padding-top: 50px;
    color: #f05133;
    text-align: center;
}

.no-results-icon {
    font-size: 65px !important;
    line-height: normal !important;
}

.no-results-text {
    padding-top: 12px;
    font-size: 26px;
}

.swirly-balls-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-top: 50px;
}

.swirly-balls {
    border-radius: 50%;
    border: 1.5px solid #c7e0f4;
    border-top-color: #0078d7;
    animation: spinAnimation 1.3s infinite cubic-bezier(.53,.21,.29,.67);
    width: 28px;
    height: 28px;
}

.swirly-balls.small {
    width: 20px;
    height: 20px;
}

.swirly-balls-label {
    color: #0078d7;
    margin-top: 10px;
    font-size: 14px;
}

@keyframes spinAnimation {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}