* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    overflow-y: auto !important;
}

.header {
    display: -ms-flexbox;
    display: flex;
    padding: 16px 32px;
}

.title-large {
    line-height: 40px;
    font-size: 28px;
    letter-spacing: -.04em;
    font-weight: bold;
    flex: 3;
}

.refresh-button {
    margin: auto;
    font-size: 14px;
    min-width: 80px;
    height: 32px;
    background-color: rgb(0, 120, 215);
    color: rgb(255, 255, 255) !important;
    outline: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: transparent !important;
    border-image: initial;
    text-decoration: none;
}

.refresh-button:hover:not(:disabled) {
    background-color: rgb(0, 90, 158);
    border-color: transparent !important;
}

.refresh-button:disabled {
    background-color: rgb(234, 234, 234);
    cursor: not-allowed;
}

.refresh-button .bowtie-navigate-refresh {
    padding-right: 8px;
}

.content-container {
    padding: 0 32px;
}

table {
    width: 100%;
}

tr {
    border-bottom: 1px solid rgba(218, 218, 218, 1);
}

th {
    padding: 10px 10px 5px 10px;
    text-align: left;
    font-size: 12px;
    font-weight: 400;
}

td {
    padding: 15px 10px;
    height: 40px;
    font-size: 16px;
}

.flex-container {
    display: flex;
}

.flex-container.vertical {
    flex-flow: column;
}

.flex-fill {
    flex: 3;
}

.author-image {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    margin-right: 12px;
    margin-top: auto;
    margin-bottom: auto;
}

.git-row {
    padding-top: 5px;
}

.git-row a {
    font-size: 12px;
}

.repo-link {
    padding-left: 5px;
    padding-right: 10px;
}

.merge-status {
    padding-left: 5px;
}

.pull-into {
    padding: 0 5px;
    font-size: 11px !important;
}

.comments {
    font-size: 14px;
}

.no-display {
    display: none !important;
}

.comment-count {
    padding-right: 5px;
}

.unresolved {
    color: #f8a800;
}

.comments-resolved {
    color: #107c10;
}

.comments-unresolved {
    color: #f8a800;
}

.rejected {
    color: rgba(218,10,0,1);
}

.policy-status {
    padding-right: 6px;
}

.policy-count {
    padding-right: 3px;
}

.comment-icon {
    padding-right: 5px;
}

.reviewer-container {
    display: inline-block;
    margin-right: 5px;
}

.row-image {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    vertical-align: bottom;
}

.policy-type {
    color: white;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    padding-top: 8px;
    width: 30px;
    height: 30px;
    display: inline-block;
}

.policy-type.failed {
    background-color: rgba(218,10,0,1);
}

.policy-type.waiting {
    background-color: rgba(248,168,0,1);
}

.policy-type.approved {
    background-color: rgba(16,124,16,1);
    font-size: 16px;
    padding-top: 4px;
    text-align: center;
    cursor: default;
}

.policy-type.other {
    background-color: gray;
}

.policy-type.all-approved {
    font-size: 14px;
    padding-top: 5px;
}

.vote {
    margin-left: -9px;
    margin-top: 14px;
    background-color: white;
    line-height: normal !important;
    border-radius: 50%;
    width: 16px;
    height: 16px;
}

.reviewer-container.approved .vote {
    margin-left: -7px;
}

.suggestions {
    color: #107c10;
}

.vote::before {
    margin-left: 1px;
}

.no-results-container {
    padding-top: 50px;
    color: #f05133;
    text-align: center;
}

.no-results-icon {
    font-size: 65px !important;
    line-height: normal !important;
}

.no-results-text {
    padding-top: 12px;
    font-size: 26px;
}

.swirly-balls-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-top: 50px;
}

.swirly-balls {
    border-radius: 50%;
    border: 1.5px solid #c7e0f4;
    border-top-color: #0078d7;
    animation: spinAnimation 1.3s infinite cubic-bezier(.53,.21,.29,.67);
    width: 28px;
    height: 28px;
}

.swirly-balls.small {
    width: 20px;
    height: 20px;
}

.swirly-balls-label {
    color: #0078d7;
    margin-top: 10px;
    font-size: 14px;
}

@keyframes spinAnimation {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}